<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>REDI ALIANSI JAYA - CMS</title>

    <!-- Custom fonts for this template-->
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>

    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebCMS_Redi</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - WebCMS_Redi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">REDI<sup>CMS</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            @if (User.IsInRole("InternalManager") || User.IsInRole("Administrator") || User.IsInRole("ContentAdm"))
            {
                <!-- Heading -->
                <div class="sidebar-heading">
                    CONTENT MANAGEMENT
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Content Admin</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Conntents:</h6>
                            <a class="collapse-item" href="@Url.Action("Index", "Content")">Content List</a>
                            <a class="collapse-item" href="@Url.Action("InsertContent", "Content")">Upload Renewal Content</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            }

            @if (User.IsInRole("InternalManager") || User.IsInRole("Administrator") || User.IsInRole("TelcoAdm") || User.IsInRole("ContentAdm") || User.IsInRole("ReportAdm"))
            {
                <!-- Heading -->
                <div class="sidebar-heading">
                    Service Report
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Daily Reports</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Service Reports:</h6>
                            <a class="collapse-item" href="@Url.Action("RevenueReports", "Reports")">Revenue Report</a>
                            <a class="collapse-item" href="@Url.Action("SubscriptionReports", "Reports")">Subscribers Report</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Charts -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Report Charts</span>
                    </a>
                </li>

                @if (User.IsInRole("InternalManager") || User.IsInRole("Administrator") || User.IsInRole("TelcoAdm") || User.IsInRole("ContentAdm"))
                {
                    <!-- Nav Item - Tables -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesServices" aria-expanded="true" aria-controls="collapsePagesServices">
                            <i class="fas fa-fw fa-cogs"></i>
                            <span>Manage Service</span>
                        </a>
                        <div id="collapsePagesServices" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Manage Service:</h6>
                                <a class="collapse-item" href="#">Service List</a>
                                <a class="collapse-item" href="#">Create New Service</a>
                                <a class="collapse-item" href="#">Service Messages</a>
                            </div>
                        </div>
                    </li>
                }
            }

            @if (User.IsInRole("InternalManager") || User.IsInRole("Administrator") || User.IsInRole("TelcoAdm") || User.IsInRole("CampaignManager"))
            {
                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CampaignReports", "Reports")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Campaign Report</span>
                    </a>
                </li>
            }

            @if (User.IsInRole("InternalManager") || User.IsInRole("Administrator") || User.IsInRole("CustomerService"))
            {
                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "CustomerService")">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Customer Service</span>
                    </a>
                </li>
            }

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <partial name="_LoginPartial" />
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; REDI ALIANSI JAYA 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Content Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Theme/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Theme/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Theme/js/demo/chart-area-demo.js"></script>
    <script src="~/Theme/js/demo/chart-pie-demo.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
